.ipynb_checkpoints/
outputs/
*__pycache__*
pretrained_models/
dataset/
jupyter_notebooks/
resulted_imgs/
wandb/
faceswap/AdaptiveWingLoss/AWL_detector/
pretrained/WFLW_4HG.pth
arcface_model/backbone.pth
